<html>
<head>
</head>

<body>
	<form action="/produtos/salva" method="post">
		<div>
			<label for="titulo">Titulo</label>
			<input type="text" id="titulo" name="titulo" placeholder="coloque o titulo"/>
		</div>

		<div>
			<label for="preco">Preco</label>
			<input type="text" id="preco" name="preco" placeholder="coloque o preco"/>
		</div>

		<div>
			<label for="descricao">Descrição</label>
			
			<textarea name="descricao" id="descricao" cols="30" rows="10" id="descricao" placeholder="descricao"></textarea>
		</div>

		<input type="submit" value="gravar">
	</form>
</body>
</html>